body{
    background-color: greenyellow;
}
h1{
    color: blue;
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
}
.logo{
    width: 400px;
	margin-top: 30px;
	border-radius: 230px;
    border-color: orange;
    border-style: solid;
}
button{
    font-size: 30px;
    color: red;
    border-radius: 15px;
}